---
layout: default
pagination: 
  enabled: true
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      
      <li>
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h2 class="post-title"><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
        <div class="post-content">
          {{ post.content }}
        </div>
      </li>
      {%- endfor -%}
    </ul>
    <!-- Pagination links -->
    <nav class="navigation">
      <div class="nav-links">
          {% if paginator.previous_page %}
            <div class="nav-next">
                <a href="{{ paginator.previous_page_path }}">
                  <span class="meta-nav">←</span> 
                    Newer Posts
                  </a>
            </div>
          {% endif %}

          {% if paginator.next_page %}
            <div class="nav-previous">
                <a href="{{ paginator.next_page_path }}">
                  Older Posts 
                  <span class="meta-nav">→</span>
                </a>
            </div>
          {% endif %}
        </div>
    </nav>
  {%- endif -%}

</div>
