---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time>
        </p>
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

        {%- if page.serie -%}
        <div class="post-meta">
            {%- for sub_page in site.pages -%}
            {%- if sub_page.serie == page.serie -%}
            <p>
                This post is part of <a href="{{ sub_page.permalink }}"> {{ page.serie }}</a> series.
            </p>
            {%- endif -%}
            {%- endfor -%}
        </div>
        {%- endif -%}
    </header>

    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

    {%- if page.serie -%}
    <div class="post-meta" style="text-align:center;">
        <p>
            This post is part of "{{ page.serie }}" series, other posts in this series:
        </p>
        <p>
            {% assign sub_pages = site.posts | sort: "date" %}
            {%- for sub_page in sub_pages -%}
            {%- if sub_page.serie contains page.serie -%}
            <a href="{{ sub_page.url }}">{{ sub_page.serie_paging_name }}</a>
            {% unless forloop.last %} •&nbsp;{%- endunless -%}
            {%- endif -%}
            {%- endfor -%}
        </p>
    </div>
    {%- endif -%}

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
