---
layout: default
---
{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{%- if page.github or page.download -%}
<p>
<ul>
    {%- if page.github -%}
    <li>
        <a href="{{ page.github }}">
            <svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
            </svg>
            Github Repository
        </a>
    </li>
    {%- endif -%}

    {%- if page.download -%}
    <li>
        <a href="{{ page.download }}">
            Download
        </a>
    </li>
    {%- endif -%}
</ul>
</p>
{%- endif -%}


<div class="post-content e-content" itemprop="articleBody">
    {{ content }}
</div>

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{%- if page.serie -%}
Posts in this series:
<ul>
    {% assign sub_pages = site.posts | sort: "date" %}
    {%- for sub_page in sub_pages -%}
    {%- if sub_page.serie contains page.serie -%}
    <li>
        <a href="{{ sub_page.url }}">{{ sub_page.date | date: date_format }} - {{ sub_page.title }}</a>
    </li>
    {%- endif -%}
    {%- endfor -%}
</ul>
{%- endif -%}