---
layout: default
---
{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{%- if page.github -%}
<p>
    {%- if page.github -%}
    <a href="{{ page.github }}">
        <svg class="svg-icon">
            <use xlink:href="/assets/minima-social-icons.svg#github"></use>
        </svg>Github Repository
    </a>
    {%- endif -%}
    {%- if page.download -%}
    <a href="{{ page.download }}">
        Download
    </a>
    {%- endif -%}
</p>
{%- endif -%}


<div class="post-content e-content" itemprop="articleBody">
    {{ content }}
</div>
