---
layout: default
---
{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{%- if page.github -%}
<p>
<ul>
    {%- if page.github -%}
    <li>
        <a href="{{ page.github }}">
            <svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
            </svg>
            Github Repository
        </a>
    </li>
    {%- endif -%}

    {%- if page.download -%}
    <li>
        <a href="{{ page.download }}">
            Download
        </a>
    </li>
    {%- endif -%}
</ul>
</p>
{%- endif -%}


<div class="post-content e-content" itemprop="articleBody">
    {{ content }}
</div>
